@font-face {
  font-family: 'BM Jua';
  src: local('BM Jua'), local('BMJua'),
    url('./assets/fonts/BMJUA_otf.otf') format('opentype'),
    url('./assets/fonts/BMJUA_ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BMHANNAProOTF';
  src: local('BMHANNAProOTF'),
    url('./assets/fonts/BMHANNAProOTF.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'BM Jua', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
